* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body, html {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: relative;
    position: fixed;
    z-index: 10;
    /*border-bottom: 1px solid #f5b1ac;*/
}
header .top-logo, .menus {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin: 0%;
    position: relative;
}
header .top-logo {
    padding-top: 17px;
    padding-left: 20px;
    background-color: transparent;
    width: 80%;
    color: #f5b1ac;
    font-size: 18px;
    position: absolute;
    left: 0px;
}
header .menus {
    background-color: transparent;
    width: 60px;
    position: absolute;
    right: 0px;
    padding-top: 3%;
    border-radius: 10px;
}
.make-hamburg {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 66%;
    height: 7px;
    background-color: black;
    border-radius: 7px;
    border: 0.5px solid white;
    transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
}
.make-hamburg:nth-child(2) {
    width: 80%;
} 
header .menus.open {
    background-color: transparent;
}
header .menus.open .make-hamburg {
    background-color: #f5b1ac;
}
header .menus.open .make-hamburg:nth-child(1) {
    transform: rotate(45deg) translate3d(10px,8px,0);
}
header .menus.open .make-hamburg:nth-child(2) {
    opacity: 0; 
}
header .menus.open .make-hamburg:nth-child(3) {
    transform: rotate(-45deg) translate3d(10px,-8px,0);
}
h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
h2 {
    font-size: 20px;
    color: white;
    line-height: 45px;
}
h3 {
    font-size: 15px;
    color: white;
}
section.concept, .series-concept {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: auto 100%;
    margin-bottom: 60px;
}
section.concept {
    height: 60vh;
    background-image: url('../image/index.png');
}
.series-concept {
    height: 40vh;
    background-color: transparent;
    background-image: url('../image/purple-index.png');
    position: relative;
    animation: change-opacity 1s;
}
@keyframes change-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.black-gradient {
    width: 100%;
    height: 70%;
    background: linear-gradient(transparent, black);
    position: absolute;
    bottom: 0px;
    opacity: 0.7;
}
.concept-logo {
    position: absolute;
    width: 80%;
    height: 15%;
    background-color: transparent;
    top: 20%;
    right: 10%;
    text-align: center;
    color: black;
    animation: title2 1s;
}
.concept-logo > img {
    width: 100%;
    margin-bottom: 5px;
}
.white-gradient {
    width: 100%;
    height: 60%;
    background: linear-gradient(transparent 50%, white);
    position: absolute;
    opacity: 1;
    animation: change-opacity 1s;
}
@keyframes title2 {
    from {
        opacity: 0;
        top: 50%;
    }
    to {
        opacity: 1;
        top: 20%;
    }
}
section.works {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.works-item {
    width: 100%;
    height: 350px;
    margin-top: 70px;
    margin-bottom: 120px;
    position: relative;
}
/* .works-item:nth-child(1) {
    background: linear-gradient(white 30%, #f5b1ac) ;
}
.works-item:nth-child(2) {
    background: linear-gradient(white 30%, #d0add1) ;
}
.works-item:nth-child(3) {
    background: linear-gradient(white 30%, #a2c5e1) ;
} */
.works-title, {
    width: 50%;
    margin: 0 auto;
}
.works-icon {
    width: 80%;
    height: 30%;
    margin: 0 auto;
    background-color: transparent;
    padding-top: 8%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.gradient-hidding {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255,0) 30%) ;
    background: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%) ; 
    background: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%) ; 
    background: -0-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%) ;   
} 
.works-item:nth-of-type(1) .works-icon {
    background-image: url('../image/system-icon-pink.png');
} 
.works-item:nth-of-type(2) .works-icon {
    background-image: url('../image/system-icon-purple.png');
}  
.works-item:nth-of-type(3) .works-icon {
    background-image: url('../image/system-icon-blue.png');
}   
.works-title {
    text-align: center;
    font-size: 15px;
    color: black;
}
.works-image {
    width: 100%;
    height: 70%;
    overflow: hidden;    
}
.works-image > img {
    height: 100%;
}
.see-more {
    padding-top: 10px;
    text-align: center;
    font-size: 19px;
    position: absolute;
    width: 39%;
    height: 13%;
    bottom: 7%;
    right: 5%;
    background-color: white;
    border-radius: 40px;
    border: 1px solid gold;
}
.see-more:active {
    background-color: gold;
    color: white;
}
.series-content {
    width: 310px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    background-color: yellow;
    position: relative;
}
.series-title {
    background-color: transparent;
    width: 60%;
    height: auto;
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 1;
    animation: title 1s;
}
@keyframes title {
    from {
        opacity: 0;
        top: 60%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}
.series-content:after {
    content: '';
    display: block;
    clear: both;
}
.item {
    float: left;
    border: 5px solid white;
    width: 155px;
    height: 155px;
    background-color: pink;
    overflow: hidden;
}
.item > img {
    width: 100%;
}
.item-w2 {
    width: 310px;
}
.item-h2 {
    height: 310px;
}
.tool-content {
    width: 90%;
    height: auto;
    background-color: yellow;
    margin: 0 auto;
    margin-top: 30px;
}
.tool-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.comic-content {
    margin: 0 auto;
    width: 90%;
    height: 500px;
    background-color: pink;
    margin-bottom: 50px;
}
.tool-image {
    width: 100%;
    height: 200px;
    background-color: pink;
}
footer {
    margin-top: 100px;
    text-align: center;
    height: 400px;
    background-color: pink;
}
footer > .footer-menus {
    width: 100%;
    height: 15%;
    padding-left: 10px;
    padding-top: 5px;
    background-color: transparent;
    border-bottom: 1px solid white;
} 
.footer-icon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: pink;
    border: 1px solid white;
    display: inline-block;
    vertical-align: top;
}
.footer-chosen {
    padding-top: 13px;
    padding-left: 10px;
    display: inline-block;
    height: 90%;
    width: 85%;
    background-color: transparent;
    color: white;
    text-align: left;
    vertical-align: top;
    font-size: 18px;
}
.copyright {
    margin-top: 25px;
    color: white;
}
@media only screen and (min-width: 700px){
    header {
        height: 65px;
    }
    header .menus {
        width: 95px;
        padding-top: 1.5%;
    }
    header .top-logo {
        font-size: 30px;
    }
    header .menus.open .make-hamburg:nth-child(1) {
        -ms-transform: rotate(45deg) translate3d(9px,15px,0); /* IE 9 */
        -webkit-transform: rotate(45deg) translate3d(9px,15px,0); /* Chrome, Safari, Opera */
        transform: rotate(45deg) translate3d(9px,15px,0);
    }
    header .menus.open .make-hamburg:nth-child(3) {
        -ms-transform: rotate(-45deg) translate3d(9px,-15px,0); /* IE 9 */
        -webkit-transform: rotate(-45deg) translate3d(9px,-15px,0); /* Chrome, Safari, Opera */
        transform: rotate(-45deg) translate3d(9px,-15px,0);
    }
    h2 {
        font-size: 40px;
        line-height: 70px;
    }
    h3 {
        font-size: 25px;
    }
    .concept-logo {
        font-size: 30px;
    }
    .works-item{
        height: 700px;
    }   
    .see-more {
        font-size: 30px;
        padding-top: 18px;
    }
    .works-title {
        font-size: 30px;
    }
    .series-content {
        width: 660px;
    }
    .item {
        width: 330px;
        height: 330px;
        border-width: 10px;
    }
    .item-w2 {
        width: 660px;
    }
    .item-h2 {
        height: 660px;
    }
}