* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

a {
    color: black;
    text-decoration: none;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'cwTeXHei', sans-serif;
    max-width: 1200px; 
    margin: 0 auto;
    background-color: white;
}
header {
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: relative;
    position: fixed;
    z-index: 10;
    /*border-bottom: 1px solid #f5b1ac;*/
}
header .computer-menus-wrapper {
    display: none;
}
header .top-logo, .menu-button {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin: 0%;
    position: relative;
}
header .top-logo {
    padding-top: 17px;
    padding-left: 20px;
    background-color: transparent;
    width: 80%;
    color: #f5b1ac;
    font-size: 17px;
    position: absolute;
    left: 0px;
}
header .menu-button {
    background-color: transparent;
    width: 60px;
    position: absolute;
    right: 0px;
    padding-top: 3%;
    border-radius: 10px;
}
.make-hamburg {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 66%;
    height: 7px;
    background-color: black;
    border-radius: 7px;
    border: 0.5px solid white;
    transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
}
.make-hamburg:nth-child(2) {
    width: 80%;
} 
header .menu-button.open {
    background-color: transparent;
}
header .menu-button.open .make-hamburg {
    background-color: #f5b1ac;
}
header .menu-button.open .make-hamburg:nth-child(1) {
    transform: rotate(45deg) translate3d(10px,8px,0);
}
header .menu-button.open .make-hamburg:nth-child(2) {
    opacity: 0; 
}
header .menu-button.open .make-hamburg:nth-child(3) {
    transform: rotate(-45deg) translate3d(10px,-8px,0);
}

.mobile-menu-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left:  100vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    white-space: nowrap;
    overflow-x: hidden;
}
.mobile-menu-alignment {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    -webkit-transition: width 0.4s cubic-bezier(0.94, 0.06, 0.32, 0.95);
    -moz-transition: width 0.4s cubic-bezier(0.94, 0.06, 0.32, 0.95);
    -o-transition: width 0.4s cubic-bezier(0.94, 0.06, 0.32, 0.95);
    -ms-transition: width 0.4s cubic-bezier(0.94, 0.06, 0.32, 0.95);
    transition: width 0.4s cubic-bezier(0.94, 0.06, 0.32, 0.95);
}
.mobile-menu-wrapper.open {
    left: 0;
}
.mobile-menu-wrapper.open .mobile-menu-alignment {
    width: 0;
    display: inline-block;
}
.mobile-menu-wrapper.open .mobile-menu {
    opacity: 1; 
}
.mobile-menu {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-color: white;
    opacity: 0;
    vertical-align: top;
}
.mobile-menus-chosen {
    margin: 0 auto;
    width: 80%;
    height: 13%;
    background-color: white;
    padding-top: 5%;
    padding-left: 20px;
    position: relative;
    left: 50px;
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.mobile-menu-wrapper.open .mobile-menu .mobile-menus-chosen {
    left: 0px;
    opacity: 1;
    transition-duration: 0.5s;
}
.mobile-menu-wrapper.open .mobile-menu .mobile-menus-chosen:nth-of-type(2) {
    transition-delay: 0.05s;
}
.mobile-menu-wrapper.open .mobile-menu .mobile-menus-chosen:nth-of-type(3) {
    transition-delay: 0.1s;
}
.mobile-menu-wrapper.open .mobile-menu .mobile-menus-chosen:nth-of-type(4) {
    transition-delay: 0.15s;
}
.mobile-menu-wrapper.open .mobile-menu .mobile-menus-chosen:nth-of-type(5) {
    transition-delay: 0.2s;
}
.mobile-menu-wrapper.open .mobile-menu a .mobile-menus-chosen {
    transition-delay: 0.25s;
}
.mobile-menus-chosen:nth-child(1) {
    height: 9%;
    padding-top: 7%;
    font-size: 25px;
    font-family: 'Rokkitt', serif;
    margin-bottom: 10px;
    border-bottom: white;
}
.small-button {
    width: 49%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    display: inline-block;
    padding-top: 7%;
    margin-right: 2%;
    text-align: center;
}
.chosen-icon, .chosen-title {
    display: inline-block;
    vertical-align: middle;
}
.chosen-icon {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 10px;
}
.chosen-icon > img {
    width: 100%;
}
.chosen-title {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 5px;
    font-family: 'cwTeXHei', sans-serif;
}
h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
h2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 45px;
    letter-spacing: 5px;
}
h3 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
}
h4 {
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
    font-size: 10px;
}
section.concept, .series-concept {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: auto 100%;
    margin-bottom: 60px;
}
section.concept {
    height: 80vh;
    background-image: url('../image/index-border.png');
    background-size: 95%;
    margin-top: 10px ;
}
.series-concept {
    height: 40vh;
    background-color: transparent;
    position: relative;
    animation: change-opacity 1s;
    overflow: hidden;
}
.series-concept > img {
    width: 100%;
}
@keyframes change-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.white-gradient {
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    position: absolute;
    bottom: 0px;
    opacity: 0.7;
}
.box {
    height: 25vh;
    width: 100%;
}
.concept-logo {
    width: 70%;
    height: 15%;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 10px;
}
.concept-logo > img {
    width: 100%;
    margin-bottom: 7px;
}
.works-item {
    width: 100%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 120px;
    position: relative;
}
.works-icon {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: transparent;
    padding-top: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.gradient-hidding {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255,0) 30%) ;
    background: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%) ; 
    background: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%) ; 
    background: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%) ;   
} 
.works-item:nth-of-type(1) .works-icon {
    background-image: url('../image/system-icon-pink.png');
} 
.works-item:nth-of-type(2) .works-icon {
    background-image: url('../image/system-icon-purple.png');
}  
.works-item:nth-of-type(3) .works-icon {
    background-image: url('../image/system-icon-blue.png');
}   
.works-title, .title {
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    color: black;
    font-family: 'cwTeXYen', sans-serif;
    letter-spacing: 2px;
}
.works-image {
    width: 100%;
    height: 300px;
    overflow: hidden;    
}
.works-image > img {
    width: 100%;
}
.see-more {
    padding-top: 10px;
    text-align: center;
    font-size: 19px;
    position: absolute;
    width: 100px;
    height: 45px;
    bottom: 7%;
    right: 5%;
    background-color: white;
    border-radius: 40px;
    border: 1px solid gold;
    font-family: 'Abel', sans-serif;

}
.see-more:active {
    background-color: gold;
    color: white;
}
.series-content {
    width: 310px;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
}
.series-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 5px;
}
.series-icon >img {
    width: 100%;
}
.series-title {
    background-color: transparent;
    width: 70%;
    height: auto;
    position: absolute;
    left: 10%;
    top: 40%;
    z-index: 1;
    animation: title 1s;
}
@keyframes title {
    from {
        opacity: 0;
        top: 70%;
    }
    to {
        opacity: 1;
        top: 40%;
    }
}

.item {
    cursor: pointer;
    position: relative;
    float: left;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 4px;
    width: 145px;
    height: 145px;
    overflow: hidden;
    animation-name: float-item;
    animation-duration: 0.5s;
    display: inline-block; 
}
.item:nth-of-type(2) {
    animation-duration: 1s;
}
.item:nth-of-type(3) {
    animation-duration: 1.5s;
}
.item:nth-of-type(4) {
    animation-duration: 2s;
}
@keyframes float-item {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.item > img {
    width: 100%;
}
.item-w2 {
    width: 298px;
}
.item-h2 {
    height: 298px;
}
.number {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0.7);
}
.tool-content {
    width: 90%;
    height: auto;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 5px;
}
.tool-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.comic-content {
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-bottom: 50px;
}
.comic-content > img {
    width: 100%;
}
.tool-image {
    margin: 0 auto;
    width: 90%;
    height: auto;
} 
.tool-image > img {
    width: 100%;
}
.product-introduction {
    padding-left: 20px;
    margin-top: 30px;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
}
.site-navigation {
    width: 90%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 15px;
    font-family: 'cwTeXYen', sans-serif;
}
.system-navigation {
    width: 100%;
    height: 150px;
    background-color: transparent;
    padding-left: 2.5%;
    margin-bottom: 70px;
}
.system-button {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    width: 31%;
    height: 100%;
    margin-right: 1%;
    vertical-align: top;
    text-align: center;
    letter-spacing: 1px;
    line-height: 23px;
    color: black;
}
.system-icon {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.information {
    width: 100%;
    height: 150px;
    background-color: transparent;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
}
.imfo-image {
    width: 50%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    display: inline-block;
    overflow: hidden;
}
.imfo-image > img {
    height: 100%;
    border-radius: 9px;
}
.imfo-content {
    cursor: pointer;
    display: inline-block;
    width: 48%;
    vertical-align: top;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: justify;
    padding: 10% 5% 10% 5%;
}
.imfo-buttom {
    font-family: 'Abel', sans-serif;
    margin-top: 10px;
    border-bottom: 1px solid gold;
}
footer {
    margin-top: 100px;
    text-align: center;
    height: 50px;
}
.copyright {
    color: grey;
    margin-top: 20px;
    font-size: 13px;
}
.item-hover-animation {
    display: none;
}
.exhibition, .reciprocal, .map {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.exhibition {
    height: auto;
    padding-top: 20px;
}
.exhibition-border-left, .exhibition-border-right {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    top: 50px;
}
.exhibition-border-left {
    background-image: url('../image/exhibition-border-left.png');
}
.exhibition-border-right {
    background-image: url('../image/exhibition-border-right.png');
    right: 0px;
} 
.exhibition-title {
    padding-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
}
.exhibition > p {
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 1px;
}
.reciprocal {
    text-align: right;
}
.reciprocal-number {
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
.map {
    height: 200px;
}
.exhibition-idea {
    color: grey;
    font-size: 12px;
    line-height: 23px;
}
.exhibition-imfo-title {
    font-size: 15px;
    line-height: 35px;
}
.nextprev {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-top: 100px;
    padding-left: 2%;
}
.next-button, .prev-button, .back-works {
    display: inline-block;
    vertical-align: center;
    width: 36%;
    height: 100%;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}
.back-works {
    width: 25%;
    height: 100%;
    background-color: yellow;
}
.next-icon, .prev-icon, .next, .prev {
    display: inline-block;
    width: 39%;
    height: 100%;
    vertical-align: top;
    transition: 0.2s;
}
.prev {
    text-align: right;
}
.next, .prev {
    width: 57%;
    padding-top: 15px;
    font-size: 20px;
    font-family: rokkitt;
}
.next-icon {
    background-image: url('../image/next-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40%;
}
.prev-icon {
    background-image: url('../image/prev-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40%;
}
.next-button:hover > .next-icon {
    background-position: 35% 50%;
}
.prev-button:hover > .prev-icon {
    background-position: 65% 50%;
}
@media only screen and (min-width: 640px){
    header {
        height: 65px;
    }
    header .menu-button {
        width: 95px;
        padding-top: 1.5%;
    }
    header .top-logo {
        font-size: 30px;
    }
    header .menu-button.open .make-hamburg:nth-child(1) {
        -ms-transform: rotate(45deg) translate3d(9px,15px,0); /* IE 9 */
        -webkit-transform: rotate(45deg) translate3d(9px,15px,0); /* Chrome, Safari, Opera */
        transform: rotate(45deg) translate3d(9px,15px,0);
    }
    header .menu-button.open .make-hamburg:nth-child(3) {
        -ms-transform: rotate(-45deg) translate3d(9px,-15px,0); /* IE 9 */
        -webkit-transform: rotate(-45deg) translate3d(9px,-15px,0); /* Chrome, Safari, Opera */
        transform: rotate(-45deg) translate3d(9px,-15px,0);
    }
    h2 {
        font-size: 50px;
        line-height: 90px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    section.concept {
        height: 90vh;
        margin-bottom: 150px;
    }
    .box {
        height: 35vh;
    }
    .concept-logo {
        font-size: 30px;
        top: 32%;
        width: 60%;
        right: 20%;
        margin-bottom: 90px;
    }
    @keyframes title2 {
        from {
            opacity: 0;
            top: 50%;
        }
        to {
            opacity: 1;
            top: 32%;
        }
    }   
    .works-icon {
        width: 500px;
        height: 200px;
        padding-top: 50px;
    }
    .works-item {
        height: 760px;
        margin-bottom: 250px;
    }   
    .works-image {
        height: 75%;
    }
    .see-more {
        font-size: 40px;
        width: 250px;
        height: 90px;
        padding-top: 20px;
        border-radius: 50px;
        bottom: 5%;
    }
    .works-title {
        font-size: 30px;
    }
    .system-navigation {
        margin-bottom: 200px;
    }
    .system-button {
        font-size: 20px;
        line-height: 30px;
    }
    .system-icon {
        width: 80px;
        height: 95px;
    }
    .system-icon > img {
        width: 100%;
    }
    .series-content {
        width: 660px;
    }
    .series-concept {
        margin-bottom: 100px;
    }
    .series-title {
        top: 40%;
        left: 17%;
    }
    @keyframes title {
        from {
            opacity: 0;
            top: 80%;
        }
        to {
            opacity: 1;
            top: 40%;
        }
    }
    .number {
        font-size: 65px;
        letter-spacing: 8px;
    }
    .information {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 70px;
        height: 200px;
    }
    .imfo-content {
        font-size: 15px;
        line-height: 25px;
    } 
    .mobile-menus-chosen:nth-child(1) {
        font-size: 40px;
    }
    .chosen-icon {
        width: 70px;
        height: 70px;
        margin-right: 30px;
        margin-left: 30px;
    }
    .chosen-title {
        font-size: 25px;
    }
    .small-button {
        font-size: 23px;
    }
    .preparing {
        font-size: 18px;
        margin-top: 10px;
    }
    .series-icon >img {
        width: 120%;
    }
    .item {
        width: 300px;
        height: 300px;
        border: 3px solid rgba(0, 0, 0, 0.3);
        margin: 12px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .item-w2 {
        width: 624px;
    }
    .item-h2 {
        height: 624px;
    }
    .tool-title {
        font-size: 35px;
        margin-bottom: 50px;
    }
    .product-introduction {
        font-size: 18px;
        line-height: 35px;
    }
    .nextprev {
        width: 70%;
    }
}
@media only screen and (min-width: 1024px){
    body {
        width: 90%;
        margin: 0 auto;
    }
   h2 {
        font-size: 30px;
        line-height: 70px;
    }
    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 15px;
    }
    header .menu-button {
        display: none;
    }
    section.concept {
        background-image: url('../image/index-border-computer.png');
        height: 100vh;
    }
    .content, .site-navigation {
        width: 60%;
        min-width: 660px;
        margin-left: 30%;
    }
    header .computer-menus-wrapper {
        width: 300px;
        height: auto;
        display: inline-block;
        margin-top: 50px;
    }
    .back-index {
        margin-left: 10%;
        margin-bottom: 30px;
        width: 55%;
        cursor: pointer;
    }
    .back-index > img {
        width: 100%;
    }   
    .computer-menus-chosen {
        margin-top: 25px;
        cursor: pointer;
    }
    .chosen-icon {
        width: 33px;
        height: 33px;
        margin-right: 15px;
        margin-left: 30px;
    }
    .chosen-title {
        color: black;
        font-size: 15px;
        transition: 0.2s;
        transition-timing-function: ease-out;
        letter-spacing: 2px;
    }
   .computer-menus-chosen:hover > .chosen-title {
        font-size: 17.5px;
    }
    section.works {
        background-color: transparent;
        position: relative;
    }
    .concept-logo {
        width: 50%;
        font-size: 16px;
        letter-spacing: 2px;
    }
    .gradient-hidding, .white-gradient {
        display: none;
    }
    .works-item {
        position: relative;
        background-color: white;
        height: 400px;
        width: 80%;
        margin-bottom: 150px;
        cursor: pointer;
    }
    .works-item:nth-of-type(1) {
        margin-left: 23%;
    }
    .works-item:nth-of-type(2) {
        margin-left: -6%; 
    }
    .works-item:nth-of-type(3) {
        margin-left: 15%; 
    }
    .works-icon {
        z-index: 10;
        opacity: 0;
        position: absolute;
        background-size: 100%;
        background-position: 50% 50%;
        transition: 0.3s;
        width: 100%;
        height: 100%;
    }
    .works-item:nth-of-type(1) .works-icon {
        background-image: url('../image/system-computer-pink.png');
    } 
    .works-item:nth-of-type(2) .works-icon {
        background-image: url('../image/system-computer-purple.png');
    }  
    .works-item:nth-of-type(3) .works-icon {
        background-image: url('../image/system-computer-blue.png');
    } 
    .works-title {
        position: absolute;
        font-size: 20px;
        top: 45%;
        left: 40%;
        opacity: 0;
        transition: 0.2s;
        transition-timing-function: ease-out;
    }
    .title {
        font-size: 22px;
        margin-top: 90px;
        margin-bottom: 50px;
    }
    .works-item:hover .works-icon {
        opacity: 1;
        background-color: transparent;
        background-color: white;
    }
    .works-item:hover .works-icon .works-title {
        top: 39%;
        opacity: 1;
    }
    .works-image {
        height: 100%;
        position: absolute;
    }
    .see-more {
        display: none;
    }
    .series-content {
        margin-top: 40px;
    }
    .series-concept {
        margin: 0 auto; 
        width: 660px;
        height: 400px;
        padding-top: 70px;
    }
    .system-icon:hover {
        width: 82px;
        transition: 0.1s;
        transition-timing-function: ease-out;
    }
    .imfo-buttom {
        width: 68%;
        transition: 0.3s;
        transition-timing-function: ease-out;
    }
    .imfo-content:hover > .imfo-buttom{
        width: 100%;
       /*  font-size: 18px; */
    }
    .item:hover > img {
        width: 103%;
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }
    .item {
        width: 200px;
        height: 200px;
        border: 3px solid rgba(0, 0, 0, 0.3);
        margin: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .item-w2 {
        width: 420px;
    }
    .item-h2 {
        height: 420px;
    }
    .tool-content {
        width: 70%;
    }
    .tool-title {
        font-size: 25px;
        margin-top: 30px;
    }
    .product-introduction {
        font-size: 14px;
    }
    .exhibition-wrapper {
        position: relative;
    }
    .exhibition-border-left, .exhibition-border-right {
        width: 110px;
        height: 110px;
    }
    .exhibition, .map {
        margin: 3%;
        width: 43%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    .map {
        height: 310px;
    }
    .reciprocal {
        text-align: right;
        width: 92%;
        margin-top: 20px;
    }