/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body, html {
    margin: 0;
    padding: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
header {
    width: 100%;
    height: 50px;
    background-color: pink;
}
section.concept {
    width: 100%;
    height: 60vh;
    background-color: yellow;
    background-image: url('../image/concept-image1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 100% auto;
}
section.works {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.works-item {
    width: 100%;
    height: 280px;
    margin-top: 60px;
    padding-top: 20px;
    position: relative;
}
.works-item:nth-child(1) {
    background-color: #f5b1ac;
}
.works-item:nth-child(2) {
    background-color: #c2cca1;
}
.works-item:nth-child(3) {
    background-color: #a2c5e1;
}
.works-title, .works-image {
    width: 80%;
    margin: 0 auto;
}
.works-title {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.works-image {
    height: 220px;
    overflow: hidden;    
}
.works-image > img {
    width: 100%;
}
.works-icon, .see-more {
    position: absolute;
    background-color: transparent;
    right: -10px;
}
.works-icon {
    width: 60px;
    height: 60px;
    top: -10px;
}
.see-more {
    width: 100px;
    height: 50px;
    background-color: black;
    bottom: 10px;
}