<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gungho-Girl</title>
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body ng-app="gungho-girl">
    <header ng-controller="HeaderController">
        <!-- <div class="top-logo" ui-sref="state1"></div> -->
        <div class="menu-button" ng-click="toggleMenu()">
            <div class="make-hamburg"></div>
            <div class="make-hamburg"></div>
            <div class="make-hamburg"></div>
        </div>
        <div class="mobile-menu-wrapper">
            <div class="mobile-menu-alignment"></div><!--
            --><div class="mobile-menu">
                <div class="mobile-menus-chosen" ui-sref="state1" ng-click="changePage()">
                    <p>Gungho Girl</p>
                </div>
                <div class="mobile-menus-chosen" ui-sref="works-pink" ng-click="changePage()">
                    <div class="chosen-icon"></div>
                    <div class="chosen-title">家用五金系列</div>
                </div>
                <div class="mobile-menus-chosen">
                    <div class="chosen-icon"></div>
                    <div class="chosen-title">五金耗材系列</div>
                </div>
                <div class="mobile-menus-chosen">
                    <div class="chosen-icon"></div>
                    <div class="chosen-title">撲滅害蟲系列</div>
                </div>
                <div class="mobile-menus-chosen">
                    <div class="small-button">展覽資訊</div>
                    <div class="small-button">我要預購</div>
                </div>
            </div>
        </div>
    </header>
    
    <div ui-view></div>
    <footer>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">家用五金系列</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">五金耗材系列</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">撲滅害蟲系列</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">購買</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">展覽資訊</div>
        </div>
        <div class="copyright"> © Copyright Gungho-Girl</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="javascripts/main.js"></script>
</script>
</body>
</html>