<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gungho-Girl</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/cwtexyen.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/cwtexhei.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Anton|Rokkitt" rel="stylesheet">
</head>
<body ng-app="gungho-girl" ng-controller="MainController">
    <header>
        <!-- <div class="top-logo" ui-sref="state1"></div> -->
        <div class="menu-button" ng-click="toggleMenu()">
            <div class="make-hamburg"></div>
            <div class="make-hamburg"></div>
            <div class="make-hamburg"></div>
        </div>
        <div class="mobile-menu-wrapper">
            <div class="mobile-menu-alignment"></div><!--
            --><div class="mobile-menu">
                <div class="mobile-menus-chosen" ui-sref="state1" ng-click="changePage()">
                    <p>Gungho Girl</p>
                </div>
                <div class="mobile-menus-chosen" ui-sref="works-pink" ng-click="changePage()">
                    <div class="chosen-icon">
                        <img src="../image/system-icon-pinks.png">
                    </div>
                    <div class="chosen-title">家用五金系列</div>
                </div>
                <div class="mobile-menus-chosen" ui-sref="works-purple" ng-click="changePage()">
                    <div class="chosen-icon">
                        <img src="../image/system-icon-purples.png">
                    </div>
                    <div class="chosen-title">五金耗材系列</div>
                </div>
                <div class="mobile-menus-chosen" ui-sref="works-blue" ng-click="changePage()">
                    <div class="chosen-icon">
                        <img src="../image/system-icon-blues.png">
                    </div>
                    <div class="chosen-title">撲滅害蟲系列</div>
                </div>
                <div class="mobile-menus-chosen">
                    <div class="small-button">展覽資訊
                        <div class="preparing">(準備中)</div>
                    </div>
                    <div class="small-button">我要預購
                        <div class="preparing">(準備中)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="computer-menus-wrapper">
            <div class="back-index">
                <img src="../image/index-logo.png">
            </div>
            <div class="computer-menus-chosen">
                <div class="chosen-icon">
                    <img src="../image/system-icon-pinks.png">
                </div>
                <div class="chosen-title">家用五金系列</div>
            </div>
            <div class="computer-menus-chosen">
                <div class="chosen-icon">
                        <img src="../image/system-icon-purples.png">
                </div>
                <div class="chosen-title">五金耗材系列</div>
            </div>
            <div class="computer-menus-chosen">
                <div class="chosen-icon">
                    <img src="../image/system-icon-blues.png">
                </div>
                <div class="chosen-title">撲滅害蟲系列</div>
            </div>
        </div>


    </header>
    
    <div class="content" ui-view></div>

    <div class="site-navigation">
        <div class="system-navigation">
            <div class="system-button"  ui-sref="works-pink" ng-click="changePage()">
                <div class="system-icon">
                    <img src="../image/system-icon-pinks.png">
                </div>
                家用五金<br>系列
            </div>
            <div class="system-button" ui-sref="works-purple" ng-click="changePage()">
                <div class="system-icon">
                    <img src="../image/system-icon-purples.png">
                </div>
                五金耗材<br>系列
            </div>
            <div class="system-button" ui-sref="works-blue" ng-click="changePage()">
                <div class="system-icon">
                    <img src="../image/system-icon-blues.png">
                </div>
                撲滅害蟲<br>系列
            </div>
        </div>
        <div class="works-title">展覽資訊</div>
        <div class="information">
            <div class="imfo-image">
                <img src="../image/buy.png">
            </div>
            <div class="imfo-content">
                想要感受粗活少女的震撼嗎？那就絕不能錯過我們的展覽資訊唷！
                <div class="imfo-buttom">to be continue</div>
            </div>
        </div>

        <div class="works-title">我要預購</div>
        <div class="information">
            <div class="imfo-image">
                <img src="../image/exhibition.png">
            </div>
            <div class="imfo-content">
                讓我們一起成為粗活少女！對抗生活中的煩惱吧
                <div class="imfo-buttom">to be continue</div>
            </div>
        </div> 
    </div>
    <footer>
<!--         <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">家用五金系列</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">五金耗材系列</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">撲滅害蟲系列</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">購買</div>
        </div>
        <div class="footer-menus">
            <div class="footer-icon"></div>
            <div class="footer-chosen">展覽資訊</div>
        </div> -->
        <div class="copyright"> © Copyright Gungho-Girl</div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>