<div class="exhibition-wrapper">
    <div class="exhibition-title">自由式<br>新一代畢業展</div>
    <div class="exhibition-border-left"></div>
    <div class="exhibition-border-right"></div>
    <div class="exhibition">
        <p>
        <span class="exhibition-idea">設計可抽象亦可具象，<br>
        期許我們能夠在理性與感性之間，<br>
        游出屬於自己的自由式。<br><br></span>
        <span class="exhibition-imfo-title">展出日期：</span>
        <br>2017年5月19日(五)至5月21日(日)10:00~18:00<br>
        2017年5月22日(一)10:00~17:00<br>
        <span class="exhibition-imfo-title">展出地點:</span>
        <br>台北世貿一館 (台北市信義路五段5號)
        </p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.023871315342!2d121.56013531449037!3d25.03326394447609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb666cd1c85%3A0xf3397c2a08ffc6bf!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61NeiZnw!5e0!3m2!1szh-TW!2stw!4v1490712043031" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="reciprocal">
        距離新一代還剩下<span class="reciprocal-number">{{ startRemain }}</span>天
    </div>
</div>