<div class="product-page" ng-controller="ProductController" ng-show="loaded">
    <div class="product-concept">
        <!-- <img ng-src="{{product.headerImage}}"> -->
        <div class="product-title">
            <div class="number" ng-bind="product.number"></div>
            <h2 ng-bind="product.name"></h2>
            <h4 ng-bind="product.englishName"></h4>
            <img class="product-icon" ng-src="{{product.iconImage}}"></img>
        </div>
        <div class="white-gradient"></div>
    </div>
    <div class="tool-content">
        <div class="tool-title" ng-bind="product.toolTitle"></div>
        <div class="comic-content">
            <img ng-src="{{product.comicImage}}">
        </div>
        <div class="tool-image">
            <img ng-src="{{product.productImage}}">
        </div>
        <div class="product-introduction" ng-bind-html="product.trustedDescription">
        </div>
    </div> 
    <div class="nextprev">
        <a ng-href="{{product.nextPage}}">
            <div class="next-button">
                <div class="next-icon"></div>
                <div class="next">prev</div>
            </div>
        </a>
        <a ng-href="{{product.homepage}}"><div class="back-works"></div></a>
        <a ng-href="{{product.prevPage}}">
            <div class="prev-button">
                <div class="prev">next</div>
                <div class="prev-icon"></div>
            </div>
        </a>
    </div> 
</div>
