<div class="product-page" ng-controller="ProductController" ng-show="loaded">
    <div class="product-concept">
        <!-- <img ng-src="{{product.headerImage}}"> -->
        <div class="product-title">
            <div class="number" ng-bind="product.number"></div>
            <h2 ng-bind="product.name"></h2>
            <h4 ng-bind="product.englishName"></h4>
            <img class="product-icon" ng-src="{{product.iconImage}}"></img>
        </div>
        <!-- <div class="white-gradient"></div> -->
    </div>
    <div class="video-content" ng-if="product.videoLink">
        <iframe ng-src="{{product.trustedVideoLink}}"></iframe>
    </div>
    <div class="tool-content">
        <div class="tool-title" ng-bind="product.toolTitle"></div>
        <div class="comic-content">
            <img ng-src="{{product.comicImage}}">
        </div>
        <div class="tool-image">
            <img ng-src="{{product.productImage}}">
        </div>
        <div class="product-introduction" ng-bind-html="product.trustedDescription">
        </div>
    </div> 
    <div class="nextprev">
        <div class="next-button" ng-click="toNextPage(product)">
            <div class="next-icon"></div>
            <div class="next">prev</div>
        </div>
        <div class="back-works" ng-click="toHomePage(product)"></div>
        <div class="prev-button" ng-click="toPrevPage(product)">
            <div class="prev">next</div>
            <div class="prev-icon"></div>
        </div>
    </div> 
</div>
