<div class="product-page" ng-controller="ProductController" ng-show="loaded">
    <div class="series-concept">
        <img ng-src="{{product.headerImage}}">
        <div class="series-title">
            <div class="number" ng-bind="product.number"></div>
            <h2 ng-bind="product.name"></h2>
            <h4 ng-bind="product.englishName"></h4>
        </div>
        <div class="white-gradient"></div>
    </div>
    <div class="tool-content">
        <div class="tool-title" ng-bind="product.toolTitle"></div>
        <div class="comic-content">
            <img ng-src="{{product.comicImage}}">
        </div>
        <div class="tool-image">
            <img ng-src="{{product.productImage}}">
        </div>
        <div class="product-introduction" ng-bind-html="product.trustedDescription">
        </div>
    </div>  
</div>
