<section class="concept">
    <div class="concept-logo">
        <img src="../image/index-logo.png">
        給少女的家用五金工具
    </div>
</section>
<section class="works">
    <div class="works-item">
        <div class="works-icon">
            <div class="works-title">家用五金系列</div>
        </div>
        <div class="works-image">
            <div class="gradient-hidding"></div>
            <img src="../image/pink/pink-index.png">
        </div>
        <div class="see-more" ui-sref="works-pink" ng-click="changePage()">see more</div>
    </div>

    <div class="works-item">
        <div class="works-icon">
            <div class="works-title">五金耗材系列</div>
        </div>
        <div class="works-image">
            <div class="gradient-hidding"></div>
            <img src="../image/purple/purple-index.png">
        </div>
        <div class="see-more" ui-sref="works-purple" ng-click="changePage()">see more</div>
    </div>

    <div class="works-item">
        <div class="works-icon">
            <div class="works-title">撲滅害蟲系列</div>
        </div>
        <div class="works-image">
            <div class="gradient-hidding"></div>
            <img src="../image/blue/blue-index.png">
        </div>
        <div class="see-more" ui-sref="works-blue" ng-click="changePage()">see more</div>
    </div>

</section>
