<section class="concept">
    <div class="concept-logo">
        <img src="">
        給少女的家用五金工具
    </div>
</section>
<section class="works">
    <h1>系列</h1>
    <div class="works-item" data-0="opcity:0;" data-1000="opcity:1;">
        <div class="works-icon">
            <div class="works-title">家用五金系列</div>
        </div>
        <div class="works-image">
            <img src="../image/works-pink.png">
        </div>
        <div class="see-more" ui-sref="works-pink">see more</div>
    </div>
</section>
