<div class="series-concept">
    <img src="../image/purple/purple-index.png">
    <div class="series-title">
        <div class="series-icon">
            <img src="../image/system-icon-purples.png">
        </div>
        <h2>五金耗材系列</h2>
        <h3>點點滴滴生活的軌跡</h3>
    </div>
    <div class="white-gradient"></div>
</div>
<div class="series-content">
    <div class="item" ui-sref="products({product_id: 'purple1'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple01.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple2'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple02.png">
        </div>
    </div>
    <div class="item item-h2 item-w2" ui-sref="products({product_id: 'purple9'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple09.png">
        </div>
    </div>
    <div class="item item-h2" ui-sref="products({product_id: 'purple11'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple11.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple4'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple04.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple5'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple05.png">
        </div>
    </div>
    <div class="item item-w2" ui-sref="products({product_id: 'purple7'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple07.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple6'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple06.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple8'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple08.png">
        </div>
    </div>
    <div class="item item-w2" ui-sref="products({product_id: 'purple3'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple03.png">
        </div>
    </div>
    <div class="item item-h2" ui-sref="products({product_id: 'purple10'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple10.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple14'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple14.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple17'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple17.png">
        </div>
    </div>
    <div class="item item-w2 item-h2" ui-sref="products({product_id: 'purple12'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple12.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple15'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple15.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple16'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple16.png">
        </div>
    </div>
    <div class="item item-w2" ui-sref="products({product_id: 'purple13'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple13.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'purple18'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/purple/item-purple18.png">
        </div>
    </div>



</div>
<script>
    new Masonry('.series-content', {})
</script>