<div class="series-concept">
    <img src="../image/blue/blue-index.png">
    <div class="series-title">
        <div class="series-icon">
            <img src="../image/system-icon-blues.png">
        </div>
        <h2>撲滅害蟲系列</h2>
        <h3>與生活中的煩惱對抗</h3>
    </div>
    <div class="white-gradient"></div>
</div>
<div class="series-content">
    <div class="item item-h2" ui-sref="products({product_id: 'blue6'})" ng-click="changePage()">
        <img src="../image/blue/blue06-whole.png">
    </div>
    <div class="item" ui-sref="products({product_id: 'blue1'})" ng-click="changePage()">
        <img src="../image/blue/blue01-whole.png">
    </div>
</div>