<div class="series-concept"></div>
<h1>家用五金工具</h1>
<div class="series-content">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item item-w2"></div>
    <div class="item item-h2"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item item-w2 item-h2"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item item-w2"></div>
    <div class="item item-h2"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item item-w2 item-h2"></div>
</div>