<div class="series-concept">
    <img src="../image/pink/pink-index.png">
    <div class="series-title">
        <div class="series-icon">
            <img src="../image/system-icon-pinks.png">
        </div>
        <h2>家用五金工系列</h2>
        <h3>誰說少女不能做粗活？</h3>
    </div>
    <div class="white-gradient"></div>
</div>
<div class="series-content">
    <div class="item item-w2" ui-sref="products({product_id: 'pink1'})" ng-click="changePage()">
        <div class="item-hover-animation">尖嘴鉗</div>
        <img src="../image/pink/pink01-whole.png">
    </div>
    <div class="item item-h2" ui-sref="products({product_id: 'pink10'})" ng-click="changePage()">
        <img src="../image/pink/pink10-whole.png">
    </div>
    <div class="item" ui-sref="products({product_id: 'pink8'})" ng-click="changePage()">
        <img src="../image/pink/pink08-whole.png">
    </div>
    <div class="item" ui-sref="products({product_id: 'pink14'})" ng-click="changePage()">
        <img src="../image/pink/pink14-whole.png">
    </div>
    <div class="item item-w2" ui-sref="products({product_id: 'pink3'})" ng-click="changePage()">
        <img src="../image/pink/pink03-whole.png">
    </div>
    <div class="item item-h2" ui-sref="products({product_id: 'pink4'})" ng-click="changePage()">
        <img src="../image/pink/pink04-whole.png">
    </div>
    <div class="item item-h2" ui-sref="products({product_id: 'pink5'})" ng-click="changePage()">
        <img src="../image/pink/pink05-whole.png">
    </div>
    <div class="item item-w2 item-h2" ui-sref="products({product_id: 'pink12'})" ng-click="changePage()">
        <img src="../image/pink/pink12-whole.png">
    </div>
    <div class="item item-h2" ui-sref="products({product_id: 'pink16'})" ng-click="changePage()">
        <img src="../image/pink/pink16-whole.png">
    </div>


</div>