<div class="series-concept">
    <div class="series-index-image">
        <img src="../image/blue/blue-index.png">
    </div>
</div>
<div class="series-content">
    <div class="item" ui-sref="products({product_id: 'blue1'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue01.png">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'blue2'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue02.gif">
        </div>
    </div>
    <div class="item item-w2 item-h2" ui-sref="products({product_id: 'blue6'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue06.gif">
        </div>
    </div>
    <div class="item item-h2" ui-sref="products({product_id: 'blue5'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue05.gif">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'blue3'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue03.gif">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'blue4'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue04.gif">
        </div>
    </div>
    <div class="item item-w2" ui-sref="products({product_id: 'blue7'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue07.gif">
        </div>
    </div>
    <div class="item item-w2" ui-sref="products({product_id: 'blue11'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue11.gif">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'blue8'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue08.gif">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'blue13'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue13.gif">
        </div>
    </div>
    <div class="item item-w2" ui-sref="products({product_id: 'blue12'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue12.gif">
        </div>
    </div>
    <div class="item" ui-sref="products({product_id: 'blue9'})" ng-click="changePage()">
        <div class="item-image">
            <img src="../image/blue/item-blue09.gif">
        </div>
    </div>

</div>
<script>
    new Masonry('.series-content', {})
</script>