<div class="series-concept">
    <img src="../image/purple/purple-index.png">
    <div class="series-title">
        <div class="series-icon">
            <img src="../image/system-icon-purples.png">
        </div>
        <h2>五金耗材系列</h2>
        <h3>點點滴滴生活的軌跡</h3>
    </div>
    <div class="white-gradient"></div>
</div>
<div class="series-content">
    <div class="item" ui-sref="products({product_id: 'purple1'})" ng-click="changePage()">
        <img src="../image/purple/purple01-whole.png">
    工具1</div>
    <div class="item" ui-sref="products({product_id: 'purple2'})" ng-click="changePage()">
        <img src="../image/purple/purple07-whole.png">
    </div>
    <div class="item item-w2" ng-click="changePage()">
         <img src="../image/purple/purple10-whole-w2.png">
    </div>
    <div class="item" ng-click="changePage()">
        <img src="../image/purple/purple05-whole.png">
    </div>
</div>