<div class="series-concept">
    <div class="series-title">
        <h2>家用五金工系列</h2>
        <h3>誰說少女不能做粗活？</h3>
    </div>
    <div class="black-gradient"></div>
</div>
<h1>家用五金工具</h1>
<div class="series-content">
    <div class="item" ui-sref="pink1">
        <img src="../image/purple07-whole">
    工具1</div>
    <div class="item">
        <img src="../image/purple10-whole.png">
    </div>
    <div class="item item-w2">
         <img src="../image/purple10-whole-w2">
    </div>
    <div class="item item-h2">
        <img src="../image/blue06-whole.png">
    </div>
    <div class="item">
        <img src="../image/purple01-whole.png">
    </div>
    <div class="item"></div>
    <div class="item item-w2 item-h2"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item item-w2"></div>
    <div class="item item-h2"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item item-w2 item-h2"></div>
</div>